<template>
  <div id="wrapper">
  
    <nav class="navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1>
          <a class="navbar-brand" href="index.html">Bookmarks</a>
        </h1>
      </div>
      <div class=" border-bottom">
        <div class="full-left" style="display: none;">
          <section class="full-top">
            <button id="toggle">
              <i class="fa fa-arrows-alt"></i>
            </button>
          </section>
          <form class=" navbar-left-right">
            <input type="text" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
            <input type="submit" value="" class="fa fa-search">
          </form>
          <div class="clearfix"> </div>
        </div>
      </div>
  
      <div class="drop-men">
        <ul class=" nav_1">
  
          <li class="dropdown at-drop">
            <a href="#" class="dropdown-toggle dropdown-at " data-toggle="dropdown">
              <i class="fa fa-globe"></i>
              <span class="number">5</span>
            </a>
            <ul class="dropdown-menu menu1 " role="menu">
              <li>
                <a href="#">
  
                  <div class="user-new">
                    <p>New user registered</p>
                    <span>40 seconds ago</span>
                  </div>
                  <div class="user-new-left">
  
                    <i class="fa fa-user-plus"></i>
                  </div>
                  <div class="clearfix"> </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="user-new">
                    <p>Someone special liked this</p>
                    <span>3 minutes ago</span>
                  </div>
                  <div class="user-new-left">
  
                    <i class="fa fa-heart"></i>
                  </div>
                  <div class="clearfix"> </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="user-new">
                    <p>John cancelled the event</p>
                    <span>4 hours ago</span>
                  </div>
                  <div class="user-new-left">
  
                    <i class="fa fa-times"></i>
                  </div>
                  <div class="clearfix"> </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="user-new">
                    <p>The server is status is stable</p>
                    <span>yesterday at 08:30am</span>
                  </div>
                  <div class="user-new-left">
  
                    <i class="fa fa-info"></i>
                  </div>
                  <div class="clearfix"> </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="user-new">
                    <p>New comments waiting approval</p>
                    <span>Last Week</span>
                  </div>
                  <div class="user-new-left">
  
                    <i class="fa fa-rss"></i>
                  </div>
                  <div class="clearfix"> </div>
                </a>
              </li>
              <li>
                <a href="#" class="view">View all messages</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown">
              <span class=" name-caret">Rackham
                <i class="caret"></i>
              </span>
              <img src="../assets/images/wo.jpg">
            </a>
            <ul class="dropdown-menu " role="menu">
              <li>
                <a href="profile.html">
                  <i class="fa fa-user"></i>Edit Profile</a>
              </li>
              <li>
                <a href="inbox.html">
                  <i class="fa fa-envelope"></i>Inbox</a>
              </li>
              <li>
                <a href="calendar.html">
                  <i class="fa fa-calendar"></i>Calender</a>
              </li>
              <li>
                <a href="inbox.html">
                  <i class="fa fa-clipboard"></i>Tasks</a>
              </li>
            </ul>
          </li>
  
        </ul>
      </div>

      <div class="clearfix"></div>
  
      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
  
            <li>
              <a class=" hvr-bounce-to-right">
                <router-link :to="{ name: 'dashboardcontent' }">
                  <i class="fa fa-dashboard nav_icon "></i>
                  <span class="nav-label">View all</span>
                </router-link>
              </a>
            </li>
  
            <li>
              <a class=" hvr-bounce-to-right">
              <router-link :to="{ name: 'folders' }">
                <i class="fa fa-desktop nav_icon"></i>
                <span class="nav-label">Folders</span>
              </router-link>
               </a>
            </li>

            <li>
              <a class=" hvr-bounce-to-right">
                <router-link :to="{ name: 'tags' }">
                  <i class="fa fa-inbox nav_icon"></i>
                  <span class="nav-label">Tags</span>
                </router-link>
              </a>
            </li>

            <li>
              <a class=" hvr-bounce-to-right">
                <router-link :to="{ name: 'favorite' }">
                  <i class="fa fa-picture-o nav_icon"></i>
                  <span class="nav-label">Favorite</span>
                </router-link>
              </a>
            </li>

            <li>
              <a class=" hvr-bounce-to-right">
                <router-link :to="{ name: 'settings' }">
                  <i class="fa fa-cog nav_icon"></i>
                  <span class="nav-label">Settings</span>
                  <span class="fa arrow"></span>
                </router-link>
              </a>
            </li>

            <li>
              <a class=" hvr-bounce-to-right">
                <router-link :to="{ name: 'signin' }"> 
                  <i class="fa fa-sign-in nav_icon"></i>Signin
                </router-link> 
              </a>
            </li>

            <li>
              <a class=" hvr-bounce-to-right">
                <router-link :to="{ name: 'signup' }"> 
                  <i class="fa fa-sign-in nav_icon"></i>Singup
                </router-link> 
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <router-view></router-view>

    <div class="clearfix"></div>
  </div>
</template>

<script>
export default {
  name: 'Dashboard',
  data() {
    return {
      // msg: 'Bookmark store.',
    };
  },
};
</script>

<style scoped>
#wrapper {
  width: 100%;
}

#page-wrapper {
  /*--padding: 0 15px;--*/
  min-height: 568px;
}

@media(min-width:768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
  }
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.sidebar .sidebar-search {
  padding: 15px;
}

.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: 0!important;
}


.sidebar .nav-third-level li a {
  padding-left: 52px;
}

@media(min-width:768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
  }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
</style>
