<template>
  <div class="inbox-mail">
    <div class="col-md-12 ">
      <div class="input-group input-group-in">
          <input type="text" name="search" class="form-control2 input-search" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
          </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Search',
  data() {
    return {
      // msg: 'Bookmark store.',
    };
  },
};
</script>

<style scoped>
  #wrapper {
    width: 100%;
  }
</style>
