<template>
  <!-- <div id="app">
          <img src="../assets/img-1-notepad.png">
          <div>
            <h1>Bookmark store.</h1>
          </div>
          <div>
            Lorem ipsum dolor sit amet
          </div>
          <router-link to="/dashboard" id="start" tag="button">START</router-link>
        </div> -->
  <div class="login">
    <h1>
      <a href="index.html">Bookmarks</a>
    </h1>
    <div class="login-bottom">
      <h2>Login</h2>
      <form>
        <div class="col-md-6">
          <div class="login-mail">
            <input type="text" placeholder="Email" required="">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="login-mail">
            <input type="password" placeholder="Password" required="">
            <i class="fa fa-lock"></i>
          </div>
          <a class="news-letter " href="#">
            <label class="checkbox1">
              <input type="checkbox" name="checkbox">
              <i> </i>Forget Password</label>
          </a>
  
        </div>
        <div class="col-md-6 login-do">
          <label class="hvr-shutter-in-horizontal login-sub">
            <input type="submit" value="login">
          </label>
          <p>Do not have an account?</p>
          <a href="signup.html" class="hvr-shutter-in-horizontal">Signup</a>
        </div>
  
        <div class="clearfix"> </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SignIn',
  data() {
    return {
    };
  },
};
</script>

<style scoped>
/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#start {
  margin-top: 60px;
} */
</style>
