<template>
  <!-- <div id="app">
        <img src="../assets/img-1-notepad.png">
        <div>
          <h1>Bookmark store.</h1>
        </div>
        <div>
          Lorem ipsum dolor sit amet
        </div>
        <router-link to="/dashboard" id="start" tag="button">START</router-link>
      </div> -->
  <div>
    <div class="login">
      <h1>
        <a href="index.html">Bookmarks</a>
      </h1>
      <div class="login-bottom">
        <h2>Register</h2>
        <div class="col-md-6">
          <div class="login-mail">
            <input type="text" placeholder="Email" required="">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="login-mail">
            <input type="password" placeholder="Password" required="">
            <i class="fa fa-lock"></i>
          </div>
          <div class="login-mail">
            <input type="password" placeholder="Repeated password" required="">
            <i class="fa fa-lock"></i>
          </div>
          <a class="news-letter" href="#">
            <label class="checkbox1">
              <input type="checkbox" name="checkbox">
              <i> </i>I agree with the terms</label>
          </a>
  
        </div>
        <div class="col-md-6 login-do">
          <label class="hvr-shutter-in-horizontal login-sub">
            <input type="submit" value="Submit">
          </label>
          <p>Already register</p>
          <a href="signin.html" class="hvr-shutter-in-horizontal">Login</a>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SignUp',
  data() {
    return {
    };
  },
};
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#start {
  margin-top: 60px;
}
</style>
