<template>
     <div id="page-wrapper" class="gray-bg dashbard-1">
      <div class="content-main">
        <div class="banner" style="display: none">
          <h2>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
            <span>Blank</span>
          </h2>
        </div>

        <search></search>

        <div class="blank">
          <div class="blank-page">
            <p>Some tags</p>
          </div>
        </div>
      </div>
    </div> 
</template>

<script>
import Search from '@/components/Search';

export default {
  name: 'Tags',
  components: {
    search: Search,
  },
  data() {
    return {
      // msg: 'Bookmark store.',
    };
  },
};
</script>

<style scoped>
  #wrapper {
    width: 100%;
  }
</style>
